<%= form_for @service, url: {action: @action}, :html => { :class => "form" } do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", :required => true %>
      <%= f.label :price %>
      <%= text_field_tag :price, @price, class: "form-control", :required => true %>

    </div>

  </fieldset>
  <%= f.submit class: "btn btn-info" %>
<% end %>
