<%= form_for @service, url: {action: @action}, :html => { :class => "form" } do |f| %>
  <fieldset>
    <h2>Enter Service Info</h2>
      <div class="form-group">
        <!-- <%= f.label :name %> -->
        <%= f.text_field :name, class: "form-control", label: false, placeholder: "Name", :required => true %>
        <!-- <%= f.label :price %> -->
        <%= text_field_tag :price, @price, class: "form-control", label: false, placeholder: "Price", :required => true %>
      </div>
  </fieldset>
  <div class="submit"><%= f.submit class: "button info" %></div>
<% end %>
