<%= form_for @service, url: {action: @action}, :html => { :class => "form" } do |f| %>
  <fieldset>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", :required => true %>
    </div>

    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </fieldset>
  <%= f.submit class: "btn btn-info" %>
<% end %>
