<% if params[:search] %>
  <% @vets.each do |vet| %>
  <ul>
    <li>
      <p><%= vet.name %></p>
      <p><%= link_to "#{vet.url}", vet.url %></p>
      <p><%= vet.address %></p>
      <p><%= vet.email %></p>
      <p><%= vet.phone %></p>
      <p><%= vet.fax %></p>
    </li>
  </ul>
  <% end %>
<% end %>
