<div class="vet-info">
  <div class="strong-name">
  </div>
  <h3><%= link_to @vet.name, @vet.url, target: "_blank" %></h3>
  <p><%= address_link(@vet.address) %></p>
  <p>Phone: <%= @vet.phone %></p>
  <p>Fax: <%= @vet.fax %></p>
  <p><%= mail_to @vet.email %></p>
  <% if @current_user %>
  <%= link_to '<i class="fi-pencil"></i>'.html_safe, edit_vet_path(@vet), method: :get, class: "button info" %>
  <% end %>
  <% if @user_vet == nil %>
  <%= link_to '<i class="fi-star"></i>'.html_safe, favorite_path(@vet), method: :post, class: "button info" %>
  <% else %>
  <%= link_to '<i class="fi-x"></i>'.html_safe, unfavorite_path(@vet), method: :delete, class: "button info" %>
  <% end %>
</div>

<div class="services">
  <h4>Available Services:</h4>
  <% @service_vets.each do |service_vet| %>
  <ul class="service">
    <li>
      <%= service_vet.service.name %>: <%= formatted_price(service_vet.price) %>
      <li>
        Average Cost: <%= formatted_price(service_vet.service.avg_cost) %><br>
        Savings: <%= colorize_pricediff(service_vet.service.avg_cost, service_vet.price) %>
      </li>
    </li>
  </ul>
  <% end %>
  <% if @current_user %>
  <%= link_to '<i class="fi-plus"></i>'.html_safe, new_vet_service_path(@vet), method: :get, class: "button info" %>
  <% end %>
</div>
