<p><%= @vet.name %></p>
<p><%= link_to @vet.url %></p>
<p><%= @vet.address %></p>
<p><%= mail_to @vet.email %></p>
<p><%= @vet.phone %></p>
<p><%= @vet.fax %></p>

<%= form_for @vet, url: {action: @action}, method: :get, :html => { :class => "form" } do |f| %>
  <%= f.select :services, options_from_collection_for_select(@services, "id", "name"), class: "form-control", include_blank: "Select Service" %><br>
<% end %>

<%= link_to "Edit", edit_vet_path(@vet), method: :get, class: "btn btn-default" %>
<%= link_to "Delete", vet_path(@vet), method: :delete, class: "btn btn-default", data: { confirm: "Last chance...you sure?" } %>
<%= link_to "Add Service", new_vet_service_path(@vet), method: :get, class: "btn btn-default" %>
<% if @user_vet == nil %>
  <%= link_to "Save to My Vet List", favorite_path(@vet), method: :post, class: "btn btn-default" %>
<% else %>
  <%= link_to "Remove from My Vet List", unfavorite_path(@vet), method: :delete, class: "btn btn-default" %>
<% end %>
