<p><%= @vet.name %></p>
<p><%= @vet.url %></p>
<p><%= @vet.address %></p>
<p><%= @vet.email %></p>
<p><%= @vet.phone %></p>
<p><%= @vet.fax %></p>

<%= form_for @vet, url: {action: @action}, :html => { :class => "form" } do |f| %>
  <%= f.select :services, options_from_collection_for_select(@services, "id", "name"), class: "form-control", include_blank: "Select Service" %><br>
<% end %>

<% @services.each do |s| %>
<ul>
  <li><%= link_to "#{s.name}", service_path(s.id)%></li>
</ul>


<% end %>


<%= link_to "Edit", edit_vet_path(@vet), method: :get, class: "btn btn-default" %></td>
<%= link_to "Delete", vet_path(@vet), method: :delete, class: "btn btn-default", :confirm => "Are you sure?"%></td>
