<header id="header">
  <div class="title-holder">
    <div class="title">
      <%= link_to image_tag('PetStopLogo-hand.jpg'), url_for({:controller => 'welcome', :action => 'index'}), class: "logo" %>
    </div>
  </div>
</header>
<div class>
  <div class="page-header">

      <%= form_tag(root_path, :method => "get", id: "search-form") do %>
      <div class="input-group small-2 large-4 columns">
        <%= text_field_tag :search, params[:search], placeholder: "Search Vets by City", class: "input-group-field" %>
        <div class="input-group-button button">
          <%= submit_tag "Search", class: "button" %>
        </div>
      </div>
      <% end %>
        <% if params[:search] %>
          <% if @vets.present? %>
            <%= render "vet" %>
          <% else %>
            <div class="vet-info">
              <p>There are no vets containing the term(s):
                <%= params[:search] %></p>
            </div>
          <% end %>
        <% end %>
        <div class="welcome-buttons">
          <%= link_to '<i class="fi-list"></i> Vets'.html_safe, vets_path, method: :get, class: "button info" %>
        </div>
  </div>
