<div class="container">
  <div class="page-header">
      <% if @current_user %>
        <h1 id="timeline">Hello, <%= "#{@current_user.username}" %></h1>
        <ul>
          <% @user_vets.each do |uv| %>
          <% if uv.user_id == @current_user.id %>
            <li>
              <%= uv.vet.name %>
            </li>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <h1 id="timeline">Welcome to Pet Stop</h1>
        <ul>
          <% @vets.each do |vet| %>
          <li>
            <%= vet.name %>
          </li>
          <% end %>
        </ul>
      <% end %>
  </div>

  <%= form_tag(vets_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Vets" %>
  <%= submit_tag "Search" %>
  <% end %>
