<%= form_tag(vets_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Vets" %>
<%= submit_tag "Search" %>
<% end %>
<div>
  <ul id="tabs">
    <li data-target="myvets-tab" class="current">My Vets</li>
    <li data-target="mypets-tab">My Pets</li>
  </ul>
  <div class="tabs-container">
    <div id="myvets-tab" class="tab current">list favorited vets here</div>
    <div id="mypets-tab" class="tab">list users pets here</div>
  </div>
</div>
<div class="container">
  <div class="page-header">
      <% if @current_user %>
        <h1 id="timeline">Hello, <%= "#{@current_user.username}" %></h1>
        <p>
          Your Vets
        </p>
          <% @current_user.vets.each do |vet| %>
          <ul>
            <li>
              <%= link_to "#{vet.name}", vet_path(vet.id)%>
              <% if vet.primary(@current_user) %>
                <p>
                  primary!
                </p>
              <% else %>
                <%= button_to "Set as Primary Vet", primary_path(vet), method: :patch, class: "btn btn-default" %>
              <% end %>
            </li>
          </ul>
          <% end %>
          <p>
            All Vets
          </p>
          <% @vets.each do |vet| %>
              <ul>
                <li>
                  <%= link_to "#{vet.name}", vet_path(vet.id) %>
                </li>
              </ul>
          <% end %>
      <% else %>
        <h1 id="timeline">Welcome to Pet Stop</h1>
        <% @vets.each do |vet| %>
        <ul>
          <li>
            <%= link_to "#{vet.name}", vet_path(vet.id) %>
          </li>
        </ul>
        <% end %>
      <% end %>


        <%= button_to "Add a Vet", new_vet_path, method: :get, class: "btn btn-default" %>
  </div>
</div>
