<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pet Stop</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <%= favicon_link_tag 'favicon-paw.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="large-12 columns">
      <div class="navbar">
        <%= render 'navbar' %>
      </div>
    </div>
  </div>
<%= yield %>
<div class="background">
</div>
<div class="flash">
  <% if !flash.empty? %>
    <div class="flash">
      <% flash.each do |key, value| %>
        <%= value %>
      <% end %>
    </div>
  <% end %>
</div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'petstop' %>
</body>
</html>
