<!DOCTYPE html>
<html>
<head>
  <title>Pet Stop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <%= csrf_meta_tags %>
</head>

<%= render 'navbar' %>
<body ng-app="petStopApp">
<%= yield %>
  <div id="tabs" ng-controller="TabsCtrl">
        <ul>
            <li ng-repeat="tab in tabs"
                ng-class="{active:isActiveTab(tab.url)}"
                ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="mainView" style="display:none">
            <div ng-include="currentTab"></div>
        </div>
    </div>

</div>
<div ng-controller="vetsCtrl">
  <ul>
    <li ng-click="loadVet(vet)" ng-repeat="vet in vets">{{vet.name}}</li>
  </ul>
  <div ng-show="currentVet.id">
    <p>Address: {{currentVet.address}}</p>
    <p>Website: {{currentVet.url}}</p>
    <p>Email: {{currentVet.email}}</p>
    <p>Phone: {{currentVet.phone}}</p>
    <p>Fax: {{currentVet.fax}}</p>
  </div>
</div>
  <div class="container">
    <% if !flash.empty? %>
      <div class="flash">
        <% flash.each do |key, value| %><%= value %>
        <% end %>
      </div>
    <% end %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <%= javascript_include_tag 'main' %>
    <%= javascript_include_tag 'petstop' %>
    <%= javascript_include_tag 'dataFactory' %>
</body>
</html>
