<!DOCTYPE html>
<html>
<head>
  <title>Pet Stop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'navbar' %>
<%= yield %>
  <div class="container">
    <% if !flash.empty? %>
      <div class="flash">
        <% flash.each do |key, value| %><%= value %>
        <% end %>
      </div>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'petstop' %>
</body>
</html>
